header h1 {
  color: lightslategray;
  font-family: fantasy;
  text-align: center;
  font-size: 40px;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0px;
  border-bottom: 2px solid lightslategray;
}
header nav ul li {
  padding-right: 40px;
  padding-bottom: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: lightslategray;
  transition: 1s;
}
header nav ul li a:hover {
  background-color: rgba(169, 169, 169, 0.217);
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.segundotitulo {
  color: lightslategray;
  font-size: 100%;
  font-size: 20px;
  text-decoration: underline;
  align-items: center;
  display: flex;
  justify-content: center;
}

.introabajoima {
  margin: 20px;
  padding: 0;
  text-align: justify;
}

.carousel img {
  width: 65dvw;
  aspect-ratio: 16/9;
}

.flecha {
  background-color: lightslategray;
  border-radius: 50%;
}

main section .licencias {
  color: black;
  text-align: center;
  font-size: 100%;
  font-size: 30px;
  text-decoration: underline;
}
main section .planeador {
  color: rgb(7, 42, 102);
  text-decoration: none;
  text-align: center;
}
main section .planeador .sacartablalicencia {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
main section .planeador .prueba {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
}
main section .planeador .prueba:hover {
  border: 1px solid black;
}
main section .planeador .inicio {
  font-size: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
main section .planeador .inicio:hover {
  background-color: rgba(169, 169, 169, 0.217);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}
main section .infolicenciacontainer {
  margin: 20px;
  padding: 25px;
}
main section .infolicenciacontainer .section-licencias {
  display: flex;
  flex-direction: column;
}
main section .infolicenciacontainer .section-licencias .monomotor {
  list-style-type: decimal-leading-zero;
  color: rgb(7, 42, 102);
  font-weight: 900;
}
main section .infolicenciacontainer .section-licencias .lala {
  text-decoration: underline;
  padding: 5px;
  text-align: center;
}
main section .infolicenciacontainer .section-licencias .lo {
  list-style-type: decimal-leading-zero;
  color: rgb(7, 42, 102);
  font-weight: 900;
}

main section .escuela {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  margin-top: 1rem;
}
main section a {
  font-size: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
main section a:hover {
  background-color: rgba(169, 169, 169, 0.217);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}
main section .provinciascontainer {
  border: 1px solid lightslategray;
  border-radius: 10px;
  background-color: rgb(208, 212, 216);
}
main section .provinciascontainer .escuelaprovincias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 5px;
}
main section .provinciascontainer .escuelaprovincias .sacar {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
main section .provinciascontainer .escuelaprovincias .sacar:hover {
  background-color: rgba(169, 169, 169, 0.415);
  border-radius: 10px;
  padding: 5px;
  transition: 1s;
}
main section .recuadromapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
main section .recuadromapa .mapacontainer {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}
main section .recuadromapa .escuelas {
  text-align: left;
  font-size: 100%;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

.felx-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.felx-container .escuela {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  margin-top: 1rem;
}
.felx-container .profesional {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.felx-container .profesional .avion {
  width: 50%;
  border: 2px solid;
  margin: auto;
}
.felx-container .profesional .avion2 {
  width: 30%;
  border: 2px solid;
  margin: auto;
}

main section .formularioconteiner {
  background-color: rgba(169, 169, 169, 0.217);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 40px auto;
  margin-bottom: 200px;
  padding: 20px 50px 20px 25px;
  border-radius: 8px;
}
main section .formularioconteiner form .formulario {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
main section .formularioconteiner form .formulario .text {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid black;
}
main section .formularioconteiner form .buttoncontainer {
  text-align: center;
  margin-top: 10px;
}
main section .formularioconteiner form .buttoncontainer .button {
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
}
main section .formularioconteiner form .buttoncontainer .button:hover {
  background-color: rgba(169, 169, 169, 0.176);
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;
  border-top: 2px solid lightslategray;
}
.footercontainer a {
  font-size: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.footercontainer a:hover {
  background-color: rgba(169, 169, 169, 0.217);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}

.volver {
  text-decoration: none;
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .headercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footercontainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
    padding: 5px 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
