body {
  animation-name: cambiarcolor;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 20s;
  animation-delay: 0s;
}

@keyframes cambiarcolor {
  0% {
    background-color: rgb(246, 206, 175);
  }
  5% {
    background-color: rgb(243, 214, 192);
  }
  10% {
    background-color: rgb(241, 220, 204);
  }
  15% {
    background-color: rgb(239, 224, 212);
  }
  20% {
    background-color: rgb(238, 227, 218);
  }
  25% {
    background-color: rgb(237, 230, 225);
  }
  30% {
    background-color: rgb(235, 233, 232);
  }
  35% {
    background-color: rgb(234, 235, 237);
  }
  40% {
    background-color: rgb(233, 237, 242);
  }
  45% {
    background-color: rgb(232, 239, 247);
  }
  50% {
    background-color: rgb(230, 243, 255);
  }
  55% {
    background-color: rgb(232, 239, 247);
  }
  60% {
    background-color: rgb(233, 237, 242);
  }
  65% {
    background-color: rgb(234, 235, 237);
  }
  70% {
    background-color: rgb(235, 233, 232);
  }
  75% {
    background-color: rgb(237, 230, 225);
  }
  80% {
    background-color: rgb(238, 227, 218);
  }
  85% {
    background-color: rgb(239, 224, 212);
  }
  90% {
    background-color: rgb(241, 220, 204);
  }
  95% {
    background-color: rgb(243, 214, 192);
  }
  100% {
    background-color: rgb(246, 206, 175);
  }
}
header h1 {
  color: lightslategray;
  font-family: fantasy;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0px;
  border-bottom: 2px solid lightslategray;
}
header nav ul li {
  padding-right: 40px;
  padding-bottom: 10px;
}
header nav ul li a {
  font-size: 15px;
  padding: 15px;
  text-decoration: none;
  color: lightslategray;
  transition: 1s;
}
header nav ul li a:hover {
  background-color: rgba(169, 169, 169, 0.217);
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.segundotitulo, .introabajoima {
  color: black;
  font-size: 20px;
  text-decoration: underline;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.introabajoima {
  font-size: 15px;
  text-decoration: none;
}

.carousel img {
  width: 65dvw;
  aspect-ratio: 16/9;
}

.flecha {
  background-color: lightslategray;
  border-radius: 50%;
}

.licencias {
  color: black;
  text-align: center;
  font-size: 100%;
  font-size: 30px;
  text-decoration: underline;
}

.planeador {
  color: rgb(7, 42, 102);
  text-decoration: none;
  text-align: center;
}
.planeador .sacartablalicencia {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.planeador .prueba {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
}
.planeador .prueba:hover {
  border: 1px solid black;
}
.planeador .inicio {
  font-size: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.planeador .inicio:hover {
  background-color: rgba(169, 169, 169, 0.217);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}

.infolicenciacontainer {
  margin: 20px;
  padding: 25px;
}
.infolicenciacontainer .section-licencias {
  display: flex;
  flex-direction: column;
}
.infolicenciacontainer .section-licencias .monomotor {
  list-style-type: decimal-leading-zero;
  color: rgb(7, 42, 102);
  font-weight: 900;
}
.infolicenciacontainer .section-licencias .lala {
  text-decoration: underline;
  padding: 5px;
  text-align: center;
}
.infolicenciacontainer .section-licencias .lo {
  list-style-type: decimal-leading-zero;
  color: rgb(7, 42, 102);
  font-weight: 900;
}

.escuela {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  margin-top: 1rem;
}

a {
  font-size: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  background-color: rgba(169, 169, 169, 0.217);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}

.provinciascontainer {
  border: 1px solid lightslategray;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(224, 167, 122) 0%, rgb(203, 219, 233) 100%);
}
.provinciascontainer .escuelaprovincias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 5px;
}
.provinciascontainer .escuelaprovincias .sacar {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.provinciascontainer .escuelaprovincias .sacar:hover {
  background-color: rgba(169, 169, 169, 0.415);
  border-radius: 10px;
  padding: 5px;
  transition: 1s;
}

.recuadromapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.recuadromapa .mapacontainer {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}
.recuadromapa .escuelas {
  text-align: left;
  font-size: 100%;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

.felx-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.felx-container .escuela {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  margin-top: 1rem;
}
.felx-container .profesional {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.felx-container .profesional .avion {
  width: 50%;
  border: 2px solid;
  margin: auto;
}
.felx-container .profesional .avion2 {
  width: 30%;
  border: 2px solid;
  margin: auto;
}

.formularioconteiner {
  background: linear-gradient(90deg, rgb(224, 167, 122) 0%, rgb(203, 219, 233) 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 40px auto;
  margin-bottom: 200px;
  padding: 20px 50px 20px 25px;
  border-radius: 8px;
}
.formularioconteiner form .formulario {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.formularioconteiner form .formulario .text {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid black;
}
.formularioconteiner form .buttoncontainer {
  text-align: center;
  margin-top: 10px;
}
.formularioconteiner form .buttoncontainer .button {
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
}
.formularioconteiner form .buttoncontainer .button:hover {
  background-color: rgba(169, 169, 169, 0.176);
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;
  border-top: 2px solid lightslategray;
}
.footercontainer a {
  font-size: 10px;
  color: lightslategray;
  cursor: pointer;
  text-decoration: none;
}
.footercontainer a:hover {
  background-color: rgba(169, 169, 169, 0.217);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}

.volver {
  text-decoration: none;
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .headercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footercontainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
    padding: 5px 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
