@keyframes cambiarcolor {

    0% {
        background-color: rgba(246, 206, 175, 1);
    }


    5% {
        background-color: rgba(243, 214, 192, 1);
    }


    10% {
        background-color: rgba(241, 220, 204, 1);
    }


    15% {
        background-color: rgba(239, 224, 212, 1);
    }


    20% {
        background-color: rgba(238, 227, 218, 1);
    }


    25% {
        background-color: rgba(237, 230, 225, 1);
    }


    30% {
        background-color: rgba(235, 233, 232, 1);
    }


    35% {
        background-color: rgba(234, 235, 237, 1);
    }


    40% {
        background-color: rgba(233, 237, 242, 1);
    }


    45% {
        background-color: rgba(232, 239, 247, 1);
    }


    50% {
        background-color: rgba(230, 243, 255, 1);
    }


    55% {
        background-color: rgba(232, 239, 247, 1);
    }


    60% {
        background-color: rgba(233, 237, 242, 1);
    }


    65% {
        background-color: rgba(234, 235, 237, 1);
    }


    70% {
        background-color: rgba(235, 233, 232, 1);
    }


    75% {
        background-color: rgba(237, 230, 225, 1);
    }


    80% {
        background-color: rgba(238, 227, 218, 1);
    }


    85% {
        background-color: rgba(239, 224, 212, 1);
    }


    90% {
        background-color: rgba(241, 220, 204, 1);
    }


    95% {
        background-color: rgba(243, 214, 192, 1);
    }


    100% {
        background-color: rgba(246, 206, 175, 1);
    }

}