.footercontainer {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
    border-top: 2px solid lightslategray;

    a {
        font-size: 10px;
        color: black;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: rgba(169, 169, 169, 0.217);
            cursor: pointer;
            padding: 10px;
            border-radius: 10px;
            transition: 1s;
        }
    }
}