@mixin discol {
    display: flex;
    flex-direction: column;
}

header {
    h1 {
        color: $principal;
        font-family: fantasy;
        text-align: center;
        font-size: 40px;
        padding: 20px;
    }

    nav {
        ul {
            @include discol();
            align-items: center;
            list-style: none;
            margin: 0px;
            border-bottom: 2px solid lightslategray;

            li {
                padding-right: 40px;
                padding-bottom: 10px;

                a {
                    font-size: 15px;
                    padding: 15px;
                    text-decoration: none;
                    color: $principal;
                    transition: 1s;

                    &:hover {
                        background-color: rgba(169, 169, 169, 0.217);
                        cursor: pointer;
                        padding: 5px;
                        border-radius: 10px;

                    }
                }

            }
        }
    }
}