.licencias {
    color: black;
    text-align: center;
    font-size: 100%;
    font-size: 30px;
    text-decoration: underline;
}

.planeador {
    color: rgb(7, 42, 102);
    text-decoration: none;
    text-align: center;

    .sacartablalicencia {
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

    .prueba {
        cursor: pointer;
        padding: 10px;
        margin-bottom: 5px;

        &:hover {
            border: 1px solid black;
        }
    }

    .inicio {
        font-size: 10px;
        color: black;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: rgba(169, 169, 169, 0.217);
            cursor: pointer;
            padding: 10px;
            border-radius: 10px;
            transition: 1s;
        }
    }
}

.infolicenciacontainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 25px;

    .section-licencias {
        padding: 20px;

        .estructurar2{
            text-align: justify;
            padding: 0px 15px;
        }

        .avionlic {
          display: flex;
          flex-direction: column;
          width: 30%;
          margin: auto;
          padding-top: 20px; 
        }
    }
}