* {
    margin: 0;
    padding: 0;
}

.felx-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

    .profesional {
        display: flex;
        flex-direction: column;
        padding: 10px;

        .estructurar {
            text-align: justify;
        }

        .avion {
            width: 50%;
            margin: auto;
            padding-top: 20px;
        }

        .avion2 {
            width: 30%;
            margin: auto;
            padding-top: 20px;
        }
    }
}